@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Ubuntu:wght@400;700&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  font-family: "Ubuntu", sans-serif;
}
h1,
h2,
h3 {
  margin: 0;
  line-height: 1.5;
}
h1,
h2,
li {
  font-family: "Roboto Slab", serif;
}
h3 {
  font-family: "Ubuntu", sans-serif;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
